* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:not(h3, .fa, .fa-brands, .footer-section, h4, .contact-body) {
    overflow-x: auto;
}

/* Navbar Start */
.logo-img {
    width: 50px;
}

.navbar {
    background-color: white;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.login-button {
    background: rgb(0, 153, 112);
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
}

.navbar-brand {
    font-weight: 600;
    font-size: 24px;
}

.login-button:hover {
    background-color: rgba(0, 153, 112, 0.8);
    ;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: rgb(102, 103, 119);
    font-weight: 600;
    position: relative;
}

.nav-link:hover,
.nav-link:active {
    color: #151111;
}

.cart {
    border: none;
    background: none;
    margin-right: 20px;
    margin-top: 4px;
    font-size: 24px;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background: rgb(0, 153, 112);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link:active::before {
        width: 99%;
        visibility: visible;
    }
}

@media (max-width: 550px) {
    .logo-img {
        width: 40px;
    }

    .navbar-brand {
        font-weight: 600;
        font-size: 20px;
    }

    .cart {
        border: none;
        background: none;
        margin-right: 4px;
        font-size: 20px;
    }

    .login-button {
        width: 60px;
        padding: 3px;
        text-align: center;
    }

    .navbar-toggler {
        font-size: 1rem;
        padding-left: 7px;
    }
}

/* Navbar End */

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

.contact-bg {
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
        url(../Images/contact-us-top.jpg);
    background-position: 20% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-bg h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 25px;
}

.contact-bg h2 {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}

.line div {
    margin: 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3) {
    height: 3px;
    width: 70px;
    background: rgb(21, 218, 21);
    border-radius: 5px;
}

.line {
    display: flex;
    align-items: center;
}

.line div:nth-child(2) {
    width: 10px;
    height: 10px;
    background: rgb(21, 218, 21);
    border-radius: 50%;
}

.text {
    font-weight: 300;
    opacity: 0.9;
}

.contact-bg .text {
    margin: 1.6rem 1rem;
}

.contact-body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 1rem 1rem;
    justify-content: center;
    align-content: center;
    max-width: 1320px;
    margin: 2rem auto;
    padding: 0;
}

.contact-info {
    grid-column: span 2;
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-info span {
    display: block;
}

.contact-info div {
    margin: 1rem 0;
    padding: 1rem;
}

.contact-info span .fas {
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: rgb(0, 153, 112);
}

.contact-info div span:nth-child(2) {
    font-weight: 500;
    font-size: 1.1rem;
}

.contact-info .text {
    padding-top: 0.4rem;
}

.h-line {
    grid-column: span 2;
    width: 100%;
    height: 4px;
    background: #bbb;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.contact-form~div img {
    width: 100%;
}

.map {
    grid-column: span 2;
    margin-top: 2rem;
}

.map iframe {
    width: 100%;
    height: 40vh;
}


/* Form Start */
.contact-form {
    display: grid;
    margin-top: 2.4rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    grid-gap: 1rem;
    margin: 0 3rem;
}

.input-wrapper {
    position: relative;
}

.input-wrapper.w-100 {
    grid-column: span 2;
}

.contact-input {
    width: 100%;
    background: rgb(208, 247, 208);
    border: none;
    outline: none;
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    font-family: inherit;
    border-radius: 20px;
    color: #151111;
    font-weight: 600;
    font-size: 0.95rem;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0 #4e4e4e;
    transition: 0.3s;
}

.contact-input:hover {
    background: rgb(189, 248, 189);
}

.input-wrapper label {
    position: absolute;
    top: 35%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: #4e4e4e;
    pointer-events: none;
    transition: 0.2s;
}

.error {
    margin-top: 3px;
    margin-bottom: 0.6rem;
    font-size: 12px;
    color: red;
}

.error-input {
    border: 2px solid red;
    background: white;
}

.input-wrapper .icon {
    position: absolute;
    right: calc(1.35rem + 2px);
    top: 35%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #4e4e4e;
    transition: 0.3s;
}

textarea.contact-input {
    resize: none;
    width: 100%;
    min-height: 150px;
}

textarea.contact-input~label {
    top: 1.2rem;
    transform: none;
}

textarea.contact-input~.icon {
    top: 1.3rem;
    transform: none;
}

.input-wrapper.focus .contact-input {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(0, 153, 112);
    box-shadow: 0 0 0 5 #4e4e4e;
}

.input-wrapper.focus label {
    color: rgb(0, 153, 112);
}

.input-wrapper.focus .icon {
    color: rgb(0, 153, 112);
}

.input-wrapper.not-empty label {
    font-size: 0.66rem;
    top: 0.75rem;
    transform: translateY(0);
}

.contact-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    grid-column: span 2;
}

.button {
    display: inline-block;
    padding: 1.1rem;
    background-color: rgb(0, 153, 112);
    color: white;
    border-radius: 40px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background: rgb(44, 159, 129);
}

.button.upload {
    position: relative;
    background: #dedddd;
}

.button.upload:hover {
    background: #c9c8c8;
}

.button.upload span {
    color: #505050;
}

.button.upload input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
}

/* Form End */


@media (max-width: 991px) {
    .contact-bg {
        height: 45vh;
        background-position: 50% 100%;
    }

    .contact-bg .text {
        width: 80%;
        margin: 0 auto;
    }

    .contact-bg h3 {
        font-size: 1.1rem;
        font-weight: 200;
        margin-top: 60px;
    }

    .contact-bg h2 {
        font-size: 2.5rem;
    }

    .input-wrapper label {
        margin-top: -10px;
        font-size: 14px;
    }

    .input-wrapper .icon {
        margin-top: -10px;
        font-size: 14px;
    }

    .button {
        font-size: 14px;
        padding: 1rem;
    }

    .contact-bg .text {
        font-size: 14px;
    }

    .contact-info {
        display: grid;
        grid-template-columns: auto auto;
        width: 99%;
        overflow-wrap: break-word;
    }

    .contact-body {
        grid-template-rows: auto auto auto auto;
        overflow-x: hidden;
    }

    .input-wrapper label {
        top: 50%;
    }

    .input-wrapper .icon {
        top: 50%;
    }

    .contact-form {
        grid-column: span 2;
    }

    .contact-form~div {
        grid-column: span 2;
    }

    .contact-form~div img {
        width: 100%;
    }

    .h-line {
        margin-bottom: 40px;
    }

    .map iframe {
        width: 100%;
        height: 40vh;
    }

    .contact-form {
        margin: 0 1rem;
    }
}


/*Footer Start*/
footer {
    background-color: black;
    color: #ffffff;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: auto;
    margin: 0 auto;
    margin-top: 0;
    max-height: auto;
}

.footer-section {
    flex: 1 1 100px;
    margin: 20px;
}

.footer-section h4 {
    font-size: 25px;
    margin-bottom: 15px;
    color: rgb(0, 153, 112);
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
    line-height: 1.8;
}

.footer-section a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: rgba(0, 153, 112, 0.4);
}

.footer-links ul,
.footer-customer-service ul {
    list-style: none;
    padding: 0;
}

.footer-links li,
.footer-customer-service li {
    margin-bottom: 10px;
}

.footer-contact p {
    margin-bottom: 8px;
}

.footer-social a {
    color: #bbb;
    text-decoration: none;
    margin: 0 5px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: rgba(0, 153, 112, 0.4);
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    padding-top: 20px;
    border-top: 1px solid #445766;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        text-align: center;
    }

    .footer-section.footer-customer-service {
        display: none;
    }

    .footer-section {
        margin: 20px 0;
        width: 100%;
    }

    .footer-social a {
        display: inline-block;
        margin: 5px;
    }
}

/* Footer End */